In [2]:
import pandas as pd

/Users/adrienawong/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/adrienawong/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
df_textstat = pd.read_csv('../Outputs/textstat/textstat_text_enwiki-20200101-pages-articles-multistream1.xml-p10p30302.csv')

In [4]:
df_textstat

,title,text,wiki_link,redirect,sentences,centroid_vec,difficulty,grade_difficulty,gfog,smog,ari,cli,lwf,dcrs
0,AccessibleComputing,[],['Computer accessibility'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
1,Anarchism,"['rejects', 'deemed', 'unjust', 'advocates', '...","['Anti-authoritarianism', 'Political philosoph...",F,"["" '''Anarchism''' is an and that...",[-0.711271 -0.10975295 -0.55753543 0.434648...,-3604.54,1399.2,1429.44,0.0,1805.6,27.82,89.0,185.28
2,AfghanistanHistory,[],['History of Afghanistan'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
3,AfghanistanGeography,[],['Geography of Afghanistan'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
4,AfghanistanPeople,[],['Demographics of Afghanistan'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19810,The Lord of the Rings/One Ring,[],['One Ring'],T,[],[],206.84,-15.7,0.00,0.0,0.0,-15.81,-0.5,0.00
19811,Tax Freedom Day,"['tax', 'freedom', 'day', 'first', 'day', 'yea...","['nation', 'Tax Foundation', 'government', 'Go...",F,"[""'''Tax Freedom Day''' is the first day of th...",[-4.66263973e-01 -5.26436425e-02 -4.48773343e-...,-1044.02,425.7,435.52,0.0,559.2,20.57,76.0,61.80
19812,Tax,"['compulsory', 'financial', 'charge', 'type', ...","['Latin', 'wikt:en:taxo#Latin', 'Legal person'...",F,"["" A '''tax''' (from the '' '') is a compu...",[-4.03108368e-01 1.17827849e-01 -4.26096367e-...,-1123.87,452.2,462.43,0.0,592.2,23.00,85.0,66.04
19813,Transhumanism,"['abbreviated', 'international', 'advocates', ...","['school of thought', 'human condition', 'huma...",F,"["" '''Transhumanism''' (abbreviated as ''...",[-0.58925328 -0.05426568 -0.51863559 0.428650...,-3908.02,1515.8,1550.03,0.0,1955.9,28.80,96.0,200.87
19814,TARDIS,"['genre', 'type', 'uses', 'travels', 'time', '...","['Anthony Coburn', 'Science fiction', 'Time tr...",F,[' | episode_creator = | genre ...,[-0.50298832 -0.14377421 -0.35548508 0.399466...,-425.89,188.2,193.23,0.0,255.8,21.84,77.0,33.63

In [5]:
df_topics = pd.read_csv('../Outputs/modelling/topic_modelling-text.csv')
df_topics

,Unnamed: 0,title,text,wiki_link,redirect,sentences,centroid_vec,text_tokens,text_clean,topics
0,0,AccessibleComputing,[],['Computer accessibility'],T,[],[],[],NaN,[]
1,1,Anarchism,"['rejects', 'deemed', 'unjust', 'advocates', '...","['Anti-authoritarianism', 'Political philosoph...",F,"["" '''Anarchism''' is an and that...",[-0.711271 -0.10975295 -0.55753543 0.434648...,"['rejects', 'deemed', 'unjust', 'advocates', '...",rejects deemed unjust advocates replacement so...,"[nan, 0.7517666220664978, 0.23858024179935455,..."
2,2,AfghanistanHistory,[],['History of Afghanistan'],T,[],[],[],NaN,[]
3,3,AfghanistanGeography,[],['Geography of Afghanistan'],T,[],[],[],NaN,[]
4,4,AfghanistanPeople,[],['Demographics of Afghanistan'],T,[],[],[],NaN,[]
...,...,...,...,...,...,...,...,...,...,...
19810,19810,The Lord of the Rings/One Ring,[],['One Ring'],T,[],[],[],NaN,[]
19811,19811,Tax Freedom Day,"['tax', 'freedom', 'day', 'first', 'day', 'yea...","['nation', 'Tax Foundation', 'government', 'Go...",F,"[""'''Tax Freedom Day''' is the first day of th...",[-4.66263973e-01 -5.26436425e-02 -4.48773343e-...,"['tax', 'freedom', 'day', 'first', 'day', 'yea...",tax freedom day first day year whole theoretic...,"[nan, 0.08460813760757446, 0.811170220375061, ..."
19812,19812,Tax,"['compulsory', 'financial', 'charge', 'type', ...","['Latin', 'wikt:en:taxo#Latin', 'Legal person'...",F,"["" A '''tax''' (from the '' '') is a compu...",[-4.03108368e-01 1.17827849e-01 -4.26096367e-...,"['compulsory', 'financial', 'charge', 'type', ...",compulsory financial charge type levy imposed ...,"[nan, 0.02796074002981186, 0.683391809463501, ..."
19813,19813,Transhumanism,"['abbreviated', 'international', 'advocates', ...","['school of thought', 'human condition', 'huma...",F,"["" '''Transhumanism''' (abbreviated as ''...",[-0.58925328 -0.05426568 -0.51863559 0.428650...,"['abbreviated', 'international', 'advocates', ...",abbreviated international advocates transforma...,"[nan, 0.6766897439956665, 0.02866300940513611,..."
19814,19814,TARDIS,"['genre', 'type', 'uses', 'travels', 'time', '...","['Anthony Coburn', 'Science fiction', 'Time tr...",F,[' | episode_creator = | genre ...,[-0.50298832 -0.14377421 -0.35548508 0.399466...,"['genre', 'type', 'uses', 'travels', 'time', '...",genre type uses travels time space traits chan...,"[0.013459471985697746, 0.4478415548801422, 0.0..."

In [11]:
df_clickstream = pd.read_csv('../Outputs/clickstream/clickstream-202001.csv')
df_clickstream = df_clickstream.groupby('title').sum()
df_clickstream

                           Unnamed: 0     date  count
title
--                                  1   404002   2084
-.-                                 2   202001     65
-30-                               33  1212006   4013
-Fa-Tal-_Gal_a_Todo_Vapor          42   808004    162
-abad                             112  1414007   1157
...                               ...      ...    ...
Zzyzx                       140366975  1414007    616
Zzyzzyxx                    120314589  1212006    172
Zzz                          40104871   404002  10017
Zzzax                       360944019  3636018   1891
Zzzz                         60157368   606003   6481

[3924821 rows x 3 columns]

In [64]:
df_clickstream[df_clickstream.index=="Mort"]

       Unnamed: 0     date  count
title
Mort    137782018  2222011   5115

In [12]:
df_complexity = pd.read_csv('../Datasets/complexity_samples.csv')
df_complexity = df_complexity.drop(columns=['link', 'assigned to'])
df_complexity

                                                title  score
0                                          Anastasius      1
1                                               Amram      1
2                                               Algol      2
3                                 Eight queens puzzle      2
4                         Demographics of New Zealand      2
..                                                ...    ...
207                              Kaman SH-2 Seasprite      1
208                                    Pasporta Servo      1
209                                           Playdia      1
210                                               RUF      1
211  List of freshwater aquarium invertebrate species      1

[212 rows x 2 columns]

In [53]:
df_graph = pd.read_csv('../Outputs/graphical_metrics/merged_clickstream.csv').rename(columns={'Article':'title'})
df_graph = df_graph.groupby('title')['Degree','BetweennessCentrality'].max().reset_index()
df_graph

                        title  Degree  BetweennessCentrality
0                          !!       1           0.000000e+00
1                         !!!       1           0.000000e+00
2                 !!!_(album)       3           2.969950e-08
3        !!!_(disambiguation)       1           0.000000e+00
4               !Action_Pact!       1           0.000000e+00
...                       ...     ...                    ...
2063427                     金       1           0.000000e+00
2063428                     阝       5           1.023989e-07
2063429                    高雄       1           0.000000e+00
2063430                     ꬶ       1           0.000000e+00
2063431                     김       1           0.000000e+00

[2063432 rows x 3 columns]

In [55]:
df_joined = df_topics.join(df_textstat.set_index('title'), on='title', lsuffix='_topics', rsuffix='_textstat')
df_joined = df_joined.join(df_clickstream, on='title', rsuffix='_clickstream')
df_joined = df_joined.join(df_complexity.set_index('title'), on='title', rsuffix ='_complexity')
df_joined = df_joined.join(df_graph.set_index('title'), on='title', rsuffix='_graph')
#df_joined.columns

In [56]:
len(df_joined)

19815

In [57]:
columns = ['Snapshot', 'Article', 'Article Vector Centroid', 'Article Topics Distributions', 'TextStat Fleisch Reading Difficulty', 'Degree', 'Betweenness Centrality', 'Clicks in month', 'Article Length', 'Target Complexity']
df_new = pd.DataFrame(columns = columns)

df_new['Article'] = df_joined['title']
df_new['Article Vector Centroid'] = df_joined['centroid_vec_topics']
df_new = df_new.assign(Snapshot = '202001')
df_new['Article Topics Distributions'] = df_joined['topics']
df_new['TextStat Fleisch Reading Difficulty'] = df_joined['difficulty']
df_new['Degree'] = df_joined['Degree']
df_new['Betweenness Centrality'] = df_joined['BetweennessCentrality']
df_new['Clicks in month'] = df_joined['count']
df_new['Article Length'] = df_joined['text_topics'].apply(lambda x: len(x))
df_new['Target Complexity'] = df_joined['score']

In [58]:
df_new

,Snapshot,Article,Article Vector Centroid,Article Topics Distributions,TextStat Fleisch Reading Difficulty,Degree,Betweenness Centrality,Clicks in month,Article Length,Target Complexity
0,202001,AccessibleComputing,[],[],206.84,NaN,NaN,NaN,2,NaN
1,202001,Anarchism,[-0.711271 -0.10975295 -0.55753543 0.434648...,"[nan, 0.7517666220664978, 0.23858024179935455,...",-3604.54,2.0,0.017757,82359.0,40949,NaN
2,202001,AfghanistanHistory,[],[],206.84,NaN,NaN,NaN,2,NaN
3,202001,AfghanistanGeography,[],[],206.84,NaN,NaN,NaN,2,NaN
4,202001,AfghanistanPeople,[],[],206.84,NaN,NaN,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...,...
19810,202001,The Lord of the Rings/One Ring,[],[],206.84,NaN,NaN,NaN,2,NaN
19811,202001,Tax Freedom Day,[-4.66263973e-01 -5.26436425e-02 -4.48773343e-...,"[nan, 0.08460813760757446, 0.811170220375061, ...",-1044.02,NaN,NaN,NaN,11025,NaN
19812,202001,Tax,[-4.03108368e-01 1.17827849e-01 -4.26096367e-...,"[nan, 0.02796074002981186, 0.683391809463501, ...",-1123.87,136.0,0.008156,50101.0,12139,NaN
19813,202001,Transhumanism,[-0.58925328 -0.05426568 -0.51863559 0.428650...,"[nan, 0.6766897439956665, 0.02866300940513611,...",-3908.02,193.0,0.020455,36725.0,45063,NaN
19814,202001,TARDIS,[-0.50298832 -0.14377421 -0.35548508 0.399466...,"[0.013459471985697746, 0.4478415548801422, 0.0...",-425.89,1.0,0.000000,24253.0,4880,NaN

In [59]:
df_new.to_csv('../Outputs/Summary/article_summary-202001.csv')